

@import "tailwindcss";
@import "@fontsource/fredoka-one";


/* Tipografías y reset */
@font-face {
  font-family: 'Glacial Indifference';
  src: url('https://cdn.jsdelivr.net/gh/google/fonts@main/ofl/glacialindifference/GlacialIndifference-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Teachers Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/teachers:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


/* Variables (puedes migrarlas a tailwind.config.js si prefieres) */
@theme {
  --orange: #F18652;
  --secondary: #79BCE8;
  --cream: #FEFEFC;
  --dark: #2C2C2C;
  --yellow: #FDCB63;
  --pink: #E95B6F;
  --font-display: 'Fredoka One', system-ui;
  --font-text: 'Teachers Variable', sans-serif;
}

body {
  font-family: 'Teachers Variable', sans-serif;
  background: var(--cream) !important;
  color: var(--dark);
  overflow-x: hidden;
  line-height: 1.6;
}

html, :root {
  color-scheme: light !important;
}

html {
  scroll-behavior: smooth;
  width: auto;
}